[submodule "git"]
    path = git
    url = https://github.com/zedanazad43/stp
[submodule "git"]
    path = git
    url = <repository-url>
[submodule "stampcoin-platform"]
    path = stampcoin-platform
    url = https://github.com/zedanazad43/stampcoin-platform.git