# Hardhat
cache/
artifacts/
deployments/
deployed-address.json

# Node
node_modules/
.env
package-lock.json

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example
